/* Căn chỉnh modal để nằm giữa màn hình và không bị che bởi header */
.modal-dialog {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Chiều cao tối thiểu của modal */
    margin-top: 0;/* Loại bỏ margin mặc định */
}

.modal-content {
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
    max-width: 600px; /* Cố định chiều rộng cho modal */
    margin: auto;
    position: relative; /* Đảm bảo modal hiển thị giữa màn hình */
}

.modal-header {
    border-bottom: none;
    
    position: relative;
}

.modal-header h5 {
    margin: 0;
    padding-left: 20px;
    font-size: 22px;
    color: #333;
}

.close {
    position: absolute;
    right: 20px;
    top: 10px;
    font-size: 24px;
    background-color: #FF004D;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    cursor: pointer;
    border: none;
}

.close:hover {
    background-color: #ff3366;
}

.modal-body ul {
    list-style: none;
    padding-left: 0;
}

.modal-body ul li {
    font-size: 16px;
    margin-bottom: 10px;
}

.bike-modal-img {
    max-width: 100%;
    height: 250px;
    object-fit: contain;
}

.modal-footer {
    display: none; /* Không cần nút đóng trong footer */
}
